<%= button_to "Back", root_path, :method => :get, class: "btn" %>


<h1><%= @user%> </h1>
<% @trainings.each do |x| %>
	<%= button_to ("#"+x.trainingID.to_s + "\n" + x.myDate.strftime("%d-%m-%Y")), displayTraining_path(@user, x.trainingID), :method => :get, class: "btn" %>
<% end %>




